<!-- Register Page -->
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
              <p class="text-white-50 mb-5">Please enter your details to create an account!</p>
  
              <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                <!-- Name Field -->
                <div class="mb-4">
                  <input type="text" formControlName="name" class="form-control" placeholder="Name" />
                  <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
                    <small>Name is required.</small>
                  </div>
                </div>
  
                <!-- Surname Field -->
                <div class="mb-4">
                  <input type="text" formControlName="surname" class="form-control" placeholder="Surname" />
                  <div *ngIf="registerForm.get('surname')?.invalid && registerForm.get('surname')?.touched" class="text-danger">
                    <small>Surname is required.</small>
                  </div>
                </div>
  
                <!-- Phone Number Field -->
                <div class="mb-4">
                  <input type="tel" formControlName="phone" class="form-control" placeholder="Phone Number" />
                  <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched" class="text-danger">
                    <small>Phone number is required.</small>
                    <!-- <p *ngIf="registerForm.get('phone')?.errors?.pattern">Please enter a valid phone number.</p> -->
                  </div>
                </div>
  
                <!-- Email Field -->
                <div class="mb-4">
                  <input type="email" formControlName="email" class="form-control" placeholder="Email" />
                  <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
                    <small>Email is required.</small>
                    <!-- <p *NgIf="registerForm.controls.email.errors?.email">Please enter a valid email.</p> -->
                  </div>
                </div>
  
                <!-- Password Field -->
                <div class="mb-4">
                  <input type="password" inlength="6" formControlName="password" class="form-control" placeholder="Password" required />
                  <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
                    <small>Password is required.</small>
                    <!-- <p *NgIf="registerForm.controls.password.errors?.minlength">Password should be at least 8 characters.</p> -->
                  </div>
                </div>
  
                <!-- Register Button -->
                <a><button class="btn btn-outline-light btn-lg px-5" type="submit" routerLink="/register">
                    Register
                  </button></a>

                <div class="mt-4">
                    <p>Already have an account? 
                      <a routerLink="/login" class="text-white-50 fw-bold">Login Here!</a>
                    </p>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  